{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Manager</title>
        <link rel="stylesheet" href="{%static 'style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="{%static 'main.js' %}" defer></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="brand"><a href=""><i class="fa fa-lock fa-fw"></i> SafePass</a></div>
                <ul>
                    <li class="nav-list"><a href="">Home</a></li>
                    {% if request.user.is_anonymous %}
                    <li class="nav-list"><a href="javascript:;" onclick="displayModal('login-modal');">Login</a></li>
                    <li class="nav-list"><a href="javascript:;" onclick="displayModal('signup-modal');">Sign Up</a></li>
                    {% else %}
                    <li class="nav-list"><a href="javascript:;" onclick="document.getElementById('logout-btn').click();">Logout</a></li>
                    <form hidden="true" role="form" action='.' method="POST">
                        {% csrf_token %}
                        <input class="input" type="submit" id="logout-btn" name="logout">
                    </form>

                    <li class="nav-list"><a href="javascript:;" onclick="displayModal('password-modal');">View</a></li>
                    <li class="nav-list"><a href="javascript:;" onclick="displayModal('add-password-modal');">Add New</a></li>
                    {% endif %}
                </ul>
                
            </nav>
        </header>

        <!--notification output-->
        {% if messages %}
            <div class="notification">
                {% for message in  messages%}
                    <p style="text-align:center; font-size:20px; padding:5px; border-radius:10px; background-color:#2A93D5; color:white; margin:10px;" >
                        {% if message.tags == "error" %}
                            <i class="fa-sharp fa-solid fa-circle-exclamation" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa-solid fa-circle-check" aria-hidden="true"></i>
                        {% endif %}
                        &nbsp;{{message}}
                    </p>
                {% endfor %}
            </div>
        {% endif %}
        <!--Code Confirmation-->
        {% if code %}
        <div style='text-align:center;'>
            <form actiom='.' method="POST" role='form'>
                {% csrf_token %}
                <h2>Please confirm your login</h2>
                <p>Check your email for the 6-digit code to enter below.</p>
                <input class="input" type='text' name='code' placeholder='XXXXXX'>
                <input class="input" type='text' hidden='true' name='user' value='{{user.username}}'>
                <input class="input" type="submit" value="Confirm Your Login" name="confirm">
            </form>
        </div>
        {% endif%}

        <!-- modals-->
        <div class="modals-wrapper">
            <span id="close-modal"><i title="close" class="fa fa-times"></i></span>
            <!--Login modal-->
            <div class="modal" id="login-modal">
                <form action="." role="form" method="POST">
                    {% csrf_token %}
                    <h2>Login</h2>
                    <input class="input" type="text" name="username" placeholder="username">
                    <input class="input" type="password" name="password" placeholder="password">
                    <input class="input" type="submit" value="Login" name="login">
                </form>
            </div>

            <!--Signup modal-->
            <div class="modal" id="signup-modal">
                <form action="." role="form" method="POST">
                    {% csrf_token %}
                    <h2>Sign Up</h2>
                    <input class="input" type="text" name="username" placeholder="username">
                    <input class="input" type="email" name="email" placeholder="emial@address.com">
                    <input class="input" type="password" name="password" placeholder="password">
                    <input class="input" type="password" name="password2" placeholder="confirm password">
                    <input class="input" type="submit" value="Register" name="signup-form">
                </form>
            </div>

            <!--password display modal-->
            <div class="modal" id="password-modal">
                <h2>URL/Name</h2>
                <img width="80" height="80" src="https://cdn.pixabay.com/photo/2016/04/13/14/27/google-chrome-1326908__340.png">
                <input class="input" type="email" name="email" placeholder="emial@address.com"> <i class="fas fa-copy fa-fw copy" title="copy to clipboard"></i>
                <input class="input" type="password" name="password" value="password"><i class="fas fa-copy fa-fw copy" title="copy to clipboard"></i>               

            </div>

            <!--add new password modal-->
            <div class="modal" id="add-password-modal">
                <form action="." role="form" method="POST">
                    {% csrf_token %}
                    <h2>Add New Password</h2>
                    <input class="input" type="text" name="url" placeholder="https://google.com">
                    <input class="input" type="email" name="email" placeholder="emial@address.com">
                    <input class="input" type="password" name="password" placeholder="password">   
                    <input class="input" type="submit" value="Save" name='add-new-pass'>
                </form>    
            </div>
        </div>

        <div class="container">
            {% for password in all_passwords %}
                <div class="card">
                    <div class="name"><h2>{{password.title}}</h2></div>
                    <img width="50" height="50" style="margin-top:10px;"src="{{password.favicon}}">
                    <div class="display-card-info"><input class="creds" type="email" name="email" value="{{password.email}}"> <i class="fas fa-copy fa-fw copy" title="copy to clipboard"></i></div>
                    <div class="display-card-info"><input class="creds" style="margin-left:20px;"id="secret-id" type="password" name="password" value="{{password.password}}"><i class="fa-solid fa-fw fa-eye-slash" style="margin-right:5px;" id='see-pass' title="View Password" onclick="viewPass(this.previousElementSibling.id)"></i><i class="fas fa-copy fa-fw copy" title="copy to clipboard"></i></div>
                    <!--delete-->
                    <form action="." hidden="true" role="form" method="POST">
                        {% csrf_token %}
                        <input type="text" hidden="true" name="password-id" value={{password.id}}>
                        <input class="input" type="submit" id="delete-btn{{password.id}}" name="delete-pressed">
                    </form>
                    <script> 
                        var id = Date.now().toString(36) + Math.random().toString(36).substr(2);;
                        document.getElementById("secret-id").id = id;
                        document.getElementById("see-pass").id = 'icon'+id;
                    </script>
                    <div class="actions"><p><i class="fa-solid fa-caret-down fa-fw"></i> Actions</p> 
                        <a class="action-item" href="javascript:;" onclick="document.getElementById('delete-btn{{password.id}}').click();"><i class="fa fa-trash fa-fw"> </i> Delete</a>
                        <a href="" class="action-item"><i class="fa fa-eye fa-fw"> </i>View</a>
                        <a href="" class="action-item"><i class="fa fa-refresh fa-fw"> </i> Update</a>
                        
                    </div>
                </div>
            {% endfor %}
             
        </div>

        <footer>
            <a href="">Link to project code</a>
        </footer>
    </body>
</html>